[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentinelsat = "*"
pandas = "*"
dash = "*"
dash-leaflet = "*"
folium = "*"
shapely = "*"
pyproj = "*"
matplotlib = "*"
geopandas = "*"
rasterio = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.9.7"
